/* NewPetForm.css */
.form-box {
    border: 2px solid #000;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.form-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    width: 100px;
    text-align: middle;
    color: #000;
}

input {
    width: 80%;
}

button {
    width: auto;
    align-self: center;
}