/* PetTable.css */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
  color: #000000;
}

th {
  background-color: #6f4fe2;
}

tr:nth-child(even) {
  background-color: #FFFFFF;
}

tr:nth-child(odd) {
  background-color: #757575;
}
  