.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-box {
  color: black; /* Sets the text color to black */
  padding: 20px; /* Adds padding inside the box for spacing around the text */
  text-align: center; /* Centers the title text inside the box */
  margin: 0px 0; /* Adds some margin above and below the box for spacing */
}

.forms-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}

.forms-container > * { /* Direct children of .forms-container */
  flex: 1 1 auto; /* This gives each form equal flexibility to grow and shrink */
  min-width: 250px; /* Replace with the minimum width each form should have */
  max-width: 400px; /* Replace with the maximum width each form should have */
}

@media (max-width: 600px) {
  .forms-container {
    flex-direction: column;
    align-items: stretch;
  }

  .forms-container > * {
    width: 100%;
    margin-bottom: 10px;
  }
}