.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-box {
  color: black;
  text-align: center;
}

.forms-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}

.forms-container > * { /* Direct children of .forms-container */
  flex: 1 1 auto;
  min-width: 250px;
  max-width: 400px;
}

@media (max-width: 600px) {
  .forms-container {
    flex-direction: column;
    align-items: stretch;
  }

  .forms-container > * {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* Define the keyframes for the spin animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Apply the animation on hover */
.text-spin:hover {
  animation: spin .25s linear; /* Adjust the timing */
}